@import url(reset.css);
:root{
  --clr-background-primary: hsl(52, 94%, 94%);
  --clr-accent-primary: hsl(200, 94%, 21%);
  --clr-danger-primary: hsl(28, 100%, 51%);
  --padding-xs:0.25em;
  --padding-small:0.5em;
  --padding-medium-small:0.75em;
  --padding-medium:1em;
  --padding-medium-large:1.25em;
  --padding-large:1.5em;
  --padding-xl:1.75em;
  --padding-xxl:2em;
  --margin-xs:0.25em;
  --margin-small:0.5em;
  --margin-medium-small:0.75em;
  --margin-medium:1em;
  --margin-medium-large:1.25em;
  --margin-large:1.5em;
  --margin-xl:1.75em;
  --margin-xxl:2em;
}
body{
  background-color: var(--clr-background-primary);
}
ul {
  list-style: none;
  padding: 0;
}
.navBar{
  background-color: var(--clr-accent-primary);
  padding: var(--padding-large);
  margin-bottom: var(--margin-large);
}
.navBar ul {
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
}
.navBar ul li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: var(--padding-xs);
  transition: transform 0.2s ease;
}
.navBar ul li a:hover{
  background-color: white;
  color: black;
  transform: scale(1.2) rotate(5deg);
}
.required {
  font-weight: bold;
}
.required:after {
  content: " *";
  color: red;
}
#searchBar{
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#gridWrapper {
  display: flex;

  align-items: center;
  height: 690px;
}
#booksGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--padding-medium);
  gap: 1em;
}
#bookDescription {
  max-height: 130px;
  overflow-y: auto;
}
.book {
  cursor: pointer;
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-accent-primary);
  padding: 5px;
  position: relative;
  height: 200px;
  border-radius: 0.5em;
  overflow-y: hidden;
  transition: transform 0.3s ease;
}

.book:hover {
  transform: scale(1.15);
}
.book * {
  text-align: center;
}
.book-title {
  font-size: clamp(10px, 2vw, 14px);
  overflow-y: hidden;
}
.book-author {
  font-size: clamp(8px, 2vw, 12px);
}
.book-author, .book-title{
  color: white;
}
.book-image {
  cursor: pointer;
}
img {
  max-height: 150px;
  aspect-ratio: 1/1.5;
  border: 1px solid gray;
}
.arrow {
  background: var(--clr-accent-primary);
  color: white;
  padding: var(--padding-medium-small);
  border-radius: 50%;
  border: 1px solid gray;
  cursor: pointer;
  transition: transform 0.2s ;
}
.arrow:hover{
  transform: scale(1.1);
  
}
.arrow-right:hover{
  transform: translateX(8px);
}
.arrow-left:hover{
  transform: translateX(-8px);
}
.fa-x {
  color: var(--clr-danger-primary);
  position: relative;
  left: 330px;
  top: 30px;
  cursor: pointer;
  transition: transform 0.2s;
}
.fa-x:hover{
  transform: scale(1.2);
}
.detailWrapper {
  z-index: 10000;
  background-color: rgba(23, 23, 23, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newBooksDetails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 800px;
  overflow-y: auto;
  aspect-ratio: 1/1.5;
  background-color: beige;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
}
.closeBookWrapper {
  position: relative;
  left: 375px;
}
#bookTitle{
  font-size: 1.25em;
}
#removeCopy, #addCopy{
  background-color: var(--clr-danger-primary);
  border: none;
  border-radius: 10px;
  padding: var(--padding-small);
  cursor: pointer;
  transition: transform 0.3s;
}
#removeCopy:hover, #addCopy:hover{
  transform: scale(1.1) translateY(-5px);
}
.fa-trash-can{
  color: red;
  font-size: 40px;
}
#deleteBook{
  cursor: pointer;
  transition: all 0.3s;
}
#deleteBook:hover{
  animation: shake-left-to-right 0.2s infinite;
}
@keyframes shake-left-to-right {
  0%{
    transform: rotate(7.5deg) ;
  }
  33%{
    transform: rotate(15deg);
  }
  50%{
    transform: rotate(0deg);
  }
  66%{
    transform: rotate(-7.5deg);
  }
  100%{
    transform: rotate(-15deg);
  }
}
#detailBook {
  width: 700px;
  aspect-ratio: 1/1.5;
  background-color: var(--clr-accent-primary);
  color: white;
  gap: 0.25em;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: blue;
}
#detailBook * {
  text-align: center;
  margin-block: 5px;
}
#copyBtns * {
  margin-inline: 5px;
}

/* spinner */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top-color: #07d;
  animation: spinner 0.6s linear infinite;
}
#actionTable {
  display: none;
}
