@import url(reset.css);
:root{
  --clr-background-primary: hsl(52, 94%, 94%);
  --clr-accent-primary: hsl(200, 94%, 21%);
  --clr-danger-primary: hsl(28, 100%, 51%);
  --clr-form-primary: hsl(200, 81%, 63%);
  --padding-xs: 0.25em;
  --padding-small: 0.5em;
  --padding-medium-small: 0.75em;
  --padding-medium: 1em;
  --padding-medium-large: 1.25em;
  --padding-large: 1.5em;
  --padding-xl: 1.75em;
  --padding-xxl: 2em;
  --margin-xs: 0.25em;
  --margin-small: 0.5em;
  --margin-medium-small: 0.75em;
  --margin-medium: 1em;
  --margin-medium-large: 1.25em;
  --margin-large: 1.5em;
  --margin-xl: 1.75em;
  --margin-xxl: 2em;
}

body {
  background-color: var(--clr-background-primary);
  font-family: 'Open Sans', sans-serif;
}

header{
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
}

.navBar {
  background-color: var(--clr-accent-primary);
  padding: var(--padding-large);
  margin-bottom: var(--margin-large);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: var(--margin-xxl);
}

.navBar ul {
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
}

.navBar ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: var(--padding-xs);
  transition: transform 0.2s ease;
}

.navBar ul li a:hover {
  background-color: white;
  color: black;
  transform: scale(1.2) rotate(5deg);
}

.required {
  font-weight: bold;
}

.required:after {
  content: " *";
  color: red;
}

#searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchButton{
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--clr-danger-primary);
  padding-right: var(--padding-small);
  text-align: center;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s;
}
#searchButton:hover{
  transform: scale(1.2);
}
#searchInput {
  width: 500px;
  padding: var(--padding-small);
  padding-left: 3em;
  border: 1px solid black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-icon {
  height: 25px;
  width: 25px;
  position: relative;
  left: 35px;
  top: -2px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.margin-top-huge{
  margin-top: 120px;
}

#gridWrapper {
  display: flex;
  align-items: center;
}

#booksGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--padding-medium);
  gap: 1em;
}

#bookDescription {
  max-height: 200px;
  overflow-y: auto;
}

.book {
  cursor: pointer;
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-accent-primary);
  padding: 5px;
  position: relative;
  height: 225px;
  border-radius: 0.5em;
  overflow: hidden; /* Ensure hidden overflow for all contents */
  transition: transform 0.3s ease;
}

.book:hover {
  transform: scale(1.15);
}

.book * {
  text-align: center;
}

.book-title, .book-author {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevents text from wrapping to the next line */
}

.book-title {
  font-size: clamp(10px, 2vw, 14px);
  background-color: hsl(200, 68%, 54%);
  height: 30px;
  width: 100%; /* Ensure it takes full width of the card */
  padding-top: var(--margin-xs);
}

.book-author {
  font-size: clamp(8px, 2vw, 12px);
  height: 30px;
  width: 100%; /* Ensure it takes full width of the card */
  padding-top: var(--margin-medium-small);
}

.book-image {
  cursor: pointer;
}

img {
  height: 135px;
  aspect-ratio: 1/1.5;
  border: 1px solid gray;
}

.arrow {
  background: var(--clr-accent-primary);
  color: white;
  padding: var(--padding-medium-small);
  border-radius: 50%;
  border: 1px solid gray;
  cursor: pointer;
  transition: transform 0.2s;
}

.arrow:hover {
  transform: scale(1.1);
}

.arrow-right:hover {
  transform: translateX(8px);
}

.arrow-left:hover {
  transform: translateX(-8px);
}

.fa-x {
  color: var(--clr-danger-primary);
  position: relative;
  left: 330px;
  top: 30px;
  cursor: pointer;
  transition: transform 0.2s;
}

.fa-x:hover {
  transform: scale(1.2);
}

.detailWrapper {
  z-index: 9000;
  background-color: rgba(23, 23, 23, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.spinnerPopup{
  z-index: 9000;
  background-color: rgba(23, 23, 23, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newBooksDetails {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  width: 1100px;
  overflow-y: auto;
  aspect-ratio: 1/1.5;
  background-color: var(--clr-background-primary);
  border: 1px solid gray;
  justify-items: center;
  border-radius: 10px;
  padding: 15px;
}

.closeBookWrapper {
  position: relative;
  left: 530px;
  font-size: 20px;
}

#bookTitle {
  font-size: 1.25em;
}

#removeCopy, #addCopy {
  background-color: var(--clr-danger-primary);
  border: none;
  border-radius: 10px;
  padding: var(--padding-small);
  cursor: pointer;
  transition: transform 0.3s;
}

#removeCopy:hover, #addCopy:hover {
  transform: scale(1.1) translateY(-5px);
}

.fa-trash-can {
  color: red;
  font-size: 40px;
}

#deleteBook {
  cursor: pointer;
  transition: all 0.3s;
}

#deleteBook:hover {
  animation: shake-left-to-right 0.2s infinite;
}

@keyframes shake-left-to-right {
  0% {
    transform: rotate(7.5deg);
  }
  33% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  66% {
    transform: rotate(-7.5deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

#detailBook {
  width: 700px;
  aspect-ratio: 1/1.5;
  background-color: var(--clr-accent-primary);
  color: white;
  gap: 0.25em;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.selected {
  background-color: white;
  color: black;
}

.newBook.selected .book-author {
  color: black;
}

#detailBook * {
  text-align: center;
  margin-block: 5px;
}

#copyBtns * {
  margin-inline: 5px;
}

/* spinner */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top-color: #07d;
  animation: spinner 0.6s linear infinite;
  z-index: 1000;
}

#actionTable {
  display: none;
}

.newBook {
  overflow-y: auto;
  height: 250px;
  transition: all 0.2s;
}
.newBook:hover{
  height: 300px;
  z-index: 200;
  background-color: hsl(200, 80%, 62%);
  transform: translateY(5px);
  justify-content: space-between;
}
.newBook.selected:hover{
  background-color: white;
}
.newBook:hover .book-author{
  color: black;
}
.newBook:hover .book-title{
  height: auto;
  white-space:initial;
}

.add-books-button {
  display: block;
  grid-column: 3/4;
  align-self: end;
  width: 100px;
  height: 75px;
  cursor: pointer;
  background-color: var(--clr-danger-primary);
  border: none;
  border-radius: 10px;
  transition: transform 0.3s;
}

.add-books-button:hover {
  transform: scale(1.2) translateY(-10px);
}

.mainFormWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#createBookByDetails, #createBookByName, #createBookByISBN {
  display: flex;
  flex-direction: column;
  border: black;
  border-radius: 10px;
  width: 600px;
  padding-inline: var(--padding-xl);
  padding-block: var(--padding-xxl);
  background-color: var(--clr-form-primary);
  color: rgb(36, 36, 36);
}

#createBookByDetails > input, #createBookByName > input, #createBookByISBN > input {
  background-color: hsl(0, 0%, 100%);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  padding: var(--padding-small);
  margin-block: var(--margin-medium-small);
}

#createBookByDetails > label {
  font-weight: bold;
  font-size: 18px;
}

#createBookByDetails .semiLabel {
  font-weight: 400;
  position: relative;
  top: -5px;
  font-size: 14px;
}

#createBookByDetails h2 {
  font-size: 30px;
  margin-bottom: var(--margin-medium);
}

.submitButton {
  width: 150px;
  padding-block: var(--padding-small);
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--clr-danger-primary);
  transition: transform 0.2s;
}

.submitButton:hover {
  transform: scale(1.2);
}

.orHeader {
  text-align: center;
  font-size: 40px;
  margin-block: var(--margin-medium-large);
}

.formSelectHeader {
  text-align: center;
  font-size: 30px;
  margin-bottom: var(--margin-small);
}

.formNameWrapper, .formISBNWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--margin-large);
}

#createBookByName .submitButton, #createBookByISBN .submitButton {
  margin-left: var(--margin-xxl);
  margin-top: 0px;
}


.snackbar {
  visibility: hidden;
  min-width: 250px; 
  margin-left: -125px; 
  color: #000000; 
  text-align: center;
  border-radius: 4px; 
  padding: 16px; 
  position: fixed;
  z-index: 3000;
  left: 50%; 
  top: 30px; 
}

.snackbar.show {
  visibility: visible; 
  animation: fadein 0.5s, fadeout 0.5s 2s;
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}
@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.failSnackbar{
  background-color: red;
}
.successSnackbar{
  background-color: rgb(12, 186, 12);
}

.actionTable {
  border-collapse: collapse;
  margin-bottom: 20px;
}

.actionTable th,
.actionTable td {
  padding: 12px;
  text-align: left;
  border: 1px solid var(--clr-accent-primary); 
}


.actionTable th {
  background-color: var(--clr-accent-primary); 
  color: white;
}


.actionTable tr:nth-child(even) {
  background-color: hsl(53, 4%, 62%); 
}


.actionTable tr:hover {
  background-color: var(--clr-form-primary);
}
#fav{
  font-size: 20px;
  color: yellow;
}