@import url(reset.css);
:root{
  --clr-primary:hsl(52, 94, 94);
  --clr-accent-primary:hsl(74,32,32);
  --clr-danger-primary:hsl(28,67,44);
  --padding-xs:0.25em;
  --padding-small:0.5em;
  --padding-medium-small:0.75em;
  --padding-medium:1em;
  --padding-medium-large:1.25em;
  --padding-large:1.5em;
  --padding-xl:1.75em;
  --padding-xxl:2em;
  --margin-xs:0.25em;
  --margin-small:0.5em;
  --margin-medium-small:0.75em;
  --margin-medium:1em;
  --margin-medium-large:1.25em;
  --margin-large:1.5em;
  --margin-xl:1.75em;
  --margin-xxl:2em;
}
body{
  background-color: var(--clr-primary);
}
ul {
  list-style: none;
  padding: 0;
}

.navBar ul {
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
}
.required {
  font-weight: bold;
}
.required:after {
  content: " *";
  color: red;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#gridWrapper {
  display: flex;

  align-items: center;
  height: 690px;
}
#booksGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  gap: 1em;
}
#bookDescription {
  height: 200px;
  overflow-y: auto;
}
.book {
  cursor: pointer;
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
  padding: 5px;
  position: relative;
  height: 200px;
  overflow-y: hidden;
  transition: transform 0.3s ease;
}

.book:hover {
  transform: scale(1.15);
}
.book * {
  text-align: center;
}
.book-title {
  font-size: clamp(10px, 2vw, 14px);
  overflow-y: hidden;
}
.book-author {
  font-size: clamp(8px, 2vw, 12px);
}
.book-image {
  cursor: pointer;
}
img {
  max-height: 150px;
  aspect-ratio: 1/1.5;
  border: 1px solid gray;
}
.arrow {
  background: beige;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid gray;
  cursor: pointer;
}
.fa-x {
  position: relative;
  left: 300px;
  top: 30px;
  cursor: pointer;
}

.detailWrapper {
  z-index: 10000;
  background-color: rgba(23, 23, 23, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newBooksDetails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 800px;
  overflow-y: scroll;
  aspect-ratio: 1/1.5;
  background-color: beige;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
}
.closeBookWrapper {
  position: relative;
  left: 375px;
}
#detailBook {
  width: 650px;
  aspect-ratio: 1/1.5;
  background-color: beige;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selected {
  background-color: blue;
}
#detailBook * {
  text-align: center;
  margin-block: 5px;
}
#copyBtns * {
  margin-inline: 5px;
}

/* spinner */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top-color: #07d;
  animation: spinner 0.6s linear infinite;
}
#actionTable {
  display: none;
}
